#sitemap_content {

    background-color: #ffffff;
    border-top: 5px solid #1B1A19;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;	
	-o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding: 25px;	
	-moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  }
#sitemap_content .sitemap_block h3, 
#sitemap_content .categTree h3 {
   
}

#sitemap_content div.sitemap_block {
   float: left;
   min-height: 120px;
   padding: 0;
   width: 50%
}
#sitemap_content div.sitemap_block ul {list-style-type:none}
#sitemap_content div.sitemap_block li a {
   display: block;
   padding: 2px 5px 2px 21px;
   color: #1B1A19;
   -webkit-text-shadow: 1px 1px 0 white; 
   -moz-text-shadow: 1px 1px 0 white; 
   -o-text-shadow: 1px 1px 0 white; 
   -ms-text-shadow: 1px 1px 0 white;
   text-shadow: 1px 1px 0 white;
   background: url(../img/arrow_right_2.png) no-repeat 9px 6px transparent
}
#sitemap_content div.sitemap_block li a:hover {

   background: url(../img/arrow_right_2_hover.png) no-repeat 9px 6px transparent
}

#sitemap_content div.sitemap_block li a:hover {
   color: #669c41;
}

#listpage_content {	
    float: left;
    margin: 20px 0;
    width: 94%;
    background-color: #ffffff;
    border-top: 5px solid #669c41;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;	
	-o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;

	-moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}
#listpage_content div.categTree {
   float: left;
   width: 50%
}
#listpage_content div.tree_top {
   padding: 3px 0 5px 24px;
   background: url(../img/sitemap-top.gif) no-repeat -1px -3px transparent
}
#listpage_content ul {
   list-style-type:none;
  }	
#listpage_content li ul {
   margin: 5px 0 3px 0
}
#listpage_content ul.tree li {
   margin-left: 11px;
   -webkit-text-shadow: 1px 1px 0 white; 
   -moz-text-shadow: 1px 1px 0 white; 
   -o-text-shadow: 1px 1px 0 white; 
   -ms-text-shadow: 1px 1px 0 white;
   text-shadow: 1px 1px 0 white;
   padding: 2px 0 2px 20px;
   border-left: 1px dotted #999;
   background: url(../img/sitemap-horizontal.png) no-repeat left 10px transparent
}
#listpage_content ul.tree li.last {
   border: medium none;
   background: url(../img/sitemap-last.gif) no-repeat -12px -2px transparent
}